body {
	margin: 0 auto;
}

#slider {
	overflow:hidden;
	width: 1000px;
	height: 434px;
}

#slider img {
	-webkit-transition: all 0.9s ease;
	transition: all 0.9s ease;
}

#slider img:hover {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
